header {
  padding: 8px;
  text-align: center;
}
.title {
  margin-bottom: 8px;
  font-size: 2em;
}
.subtitle {
  margin-bottom: 5px;
  font-size: 1.2em;
}
.option {
  padding: 5px;
}
.option_column {
  display: flex;
  margin-bottom: 5px;
}
.option_select {
  margin-right: 5px;
  width: 100px;
  height: 20px;
  background-color: rgb(166, 223, 223);
  cursor: pointer;
}
.option_select.selected {
  font-weight: 600;
}
.inputbox {
  margin-left: 5px;
  border: 1px solid gray;
}
.input-small {
  width: 50px;
}
.input-long {
  width: 400px;
}

.preview {
  margin: 5px;
}
.container {
  display: grid;
  border: 1px dotted teal;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  grid-auto-rows: minmax(100px, auto);
  row-gap: 20px;
  column-gap: 10px;
}
.item {
  background-color: rgb(166, 223, 223);
  color: teal;
  text-align: center;
}
.i1 {
  background-color: rgb(223, 166, 166);
  color: rgb(128, 0, 0);
}
.item-text {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
